body {
	font-family: verdana, sans-serif;
	background: #d8d4d4;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.banner {
	margin-top:25px;
	margin-bottom: 15px;
}

h1 {
	font-family: Bradley Hand;
	font-size: 60px;
	color: darkgreen;
	text-align: center;	
}

h2 {
	font-size: 30px;
	color: darkgreen;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 25px;
	font-family: Bradley Hand;
}

h3 {
	padding-bottom: 25px;
}

nav a {
	font-family: Bradley Hand;
	font-size: 20px;
	color: darkgreen;
	padding: 8px;
}

nav a:hover {
	background-color: gray;
	color: white;
}

.title {
	font-size: 35px;
	font-weight: bold;
	color: darkgreen;
	text-align: center;
	padding-bottom: 55px;
	font-family: Bradley Hand;
}

.menu {
	font-size: 16px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

a:link {
	text-decoration: none;
}

p {
	font-size: 16px;
	text-align: justify;
}

#footer {
	text-align: center;
	margin-top: 50px;
}

.mission {
	width: 259px;
	height: 194px;
	border: 1px solid darkgreen;
	margin: 0 auto;
}

.columns {
	width: 48%;
	margin: 1%;
}

#column1 {
	float: left;
	clear: left;
}

#column2 {
	float: left;
	clear: right;
}

#training {
	width: 100%;
	padding-bottom: 40px;
	padding-top: 25px;
}

#volunteer {
	float: left;
	clear: all;
	margin-top: 50px;
	margin-bottom: 125px;
	margin-left: 8px;
}

#gethelp {
	float: left;
	clear: right;
	margin-top: 75px;
}

li {
	padding-top: 10px;
}

#volunteerphotos {
	width: 100%;
	border: 1px solid darkgreen;
}

#cactusphoto {
	height: 100%;
	margin-left: 25%;
	margin-bottom: 35px;
	border: 1px solid darkgreen;
}

blockquote {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 75px;
	text-align: justify;
}

.text-input {
	padding: 5px;
	color: #999999;
	font-size: 14px;
	background-color: #EEEEEE;
	border: 2px solid #CCCCCC;
	border-radius: 4px;
}

.text-input:focus {
	color: black;
}

form {
	font-size: 14px;
}

.pres-quote {
	margin-bottom: 125px;
}

.vol-invite{
	margin-bottom: 50px;
}

.join-form{
padding-bottom: 10px;
}

